.n {
  justify-content: center;
  align-items: center;
}
.n-top {
  display: flex;
}

.n-top-info {
  margin-left: 20px;
}

.n-optional-wrapper {
  display: flex;
  padding: 10px 10px;
  justify-content: space-between;
  align-items: center;
}

.n-optional {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 10px 5px 10px;
  margin-top: 10px;
  transition: all cubic-bezier(0.755, 0.05, 0.855, 0.06);
}
.n-optional > p {
  margin-left: 10px;
}
.n-optional:hover {
  box-shadow: rgb(88, 88, 88) 0px 0px 0px 3px, rgb(51, 51, 51) 0px 0px 0px 5px,
    rgb(37, 37, 37) 0px 0px 0px 6px;
}
.n-caption {
  padding: 15px 0;
  text-align: start;
}

.n-img-news > img {
  width: 100%;
}

/* #n-lovebtn {
  display: inline-flex;
} */
.n-lovebtn {
  display: inline-flex !important;
}

.nes-container-space-around {
  margin: 25px 20px;
}
