.p {
  /* display: flex; */
  flex: 1;
  padding: 15px 0px 20px;
  justify-content: center;
  top: 0;
  width: 100%;
  /* position: inherit; */
}

.p-top {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 15px 10px;
}

.p-top > p {
  margin-left: 15px;
}

.p-optional-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 15px;
  margin-top: 10px;
}

.p-optional {
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* transition: all 0.5s linear; */
}

.p-optional > p {
  margin: 10px 0 15px 5px;
}

.p-optional:hover {
  /* background-color: rgb(204, 200, 200); */
  box-shadow: rgb(116, 116, 117) 0px 0px 0px 2px,
    rgb(51, 51, 51) 0px 0px 0px 5px, rgb(37, 37, 37) 0px 0px 0px 7px;
}

#nes-container {
  margin: 25px 20px;
}
