.f {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 10px 10px;
  margin-top: 20px;
}

.f-top-sidebar {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.f-contact {
  display: flex;
  align-items: center;
}

.f-wrapper {
  display: flex;
  margin-left: 50px;
}

.f-option {
  padding: 10px 10px;
}

.f-avatar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 5px 5px;
}

.username {
  margin: 10px 15px;
}
